body {
    background-color: pink;
    font-family: 'roboto', sans-serif;
}
h1{
    color: darkslategray;
    text-align: center;
    font-size: 50px;
}
p{
    color: black;
    font-size: 24px;

}
div p{
    color: blue;
}
#idea{
    color: blueviolet;
    font-size: 1.5em;
    font-weight: bold;
}
.parrafo{
    color: black;
    font-style: italic;
}
a,img{
    display: block;
}
a{
    margin: 24px 17px;
    color: brown;
    text-decoration: none;
}
a:hover{
    color: blue;
}
img{
    width: 70%;
    margin: auto;
}
#agradecimiento{
    text-align: center;
    font-size: 4em;
    color:black
}
